.button {
	margin: 0 0 0 0;
	padding: 8px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: rgba(255, 255, 255, 0.17);
	border-radius: 6px;
	width: fit-content;
	font-size: 14px;
	font-weight: 400;
	user-select: none;
	color: #d3d3d3;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	column-gap: 4px;
	transition: all 0.3s;
}

.button:hover {
	background-color: rgba(255, 255, 255, 0.727);
	color: black;
	transform: translateY(4px);
}

.button:nth-child(1) {
	animation-duration: 0.6s;
	animation-name: slide-in;
}

.button:nth-child(2) {
	animation-duration: 0.8s;
	animation-name: slide-in;
}

.button:nth-child(3) {
	animation-duration: 1.1s;
	animation-name: slide-in;
}

.button:nth-child(4) {
	animation-duration: 1.4s;
	animation-name: slide-in;
}

.button:nth-child(5) {
	animation-duration: 1.8s;
	animation-name: slide-in;
}

.button:nth-child(6) {
	animation-duration: 2.2s;
	animation-name: slide-in;
}

.button:nth-child(7) {
	animation-duration: 2.7s;
	animation-name: slide-in;
}

.button:nth-child(8) {
	animation-duration: 3.2s;
	animation-name: slide-in;
}

.button:nth-child(9) {
	animation-duration: 3.8s;
	animation-name: slide-in;
}

@keyframes slide-in {
	from {
		transform: translateX(-16px);
		opacity: 0;
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.icon {
	width: 18px;
	height: 18px;
	object-fit: contain;
}