.button {
	width: 28px;
	height: 28px;
	object-fit: contain;
	user-select: none;
	padding: 8px 8px;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.25s;
}

.button:nth-child(1) {
	margin-left: 0px;
}

.button:nth-child(n - 1) {
	margin-left: 4px;
	margin-right: 4px;
}

.button:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.5);
}