@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:wght@200;300;400;500;600;700&display=swap');

:root {
  --font-main: "Zalando Sans SemiExpanded", system-ui, -apple-system, "Segoe UI", sans-serif;
}